:root {
    --primary-blue: #4448FF;
    --gold-coin: #ffc85c;
    --bg-light: #f8f9fa;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: var(--bg-light);
}

.app-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 350px;
    background: var(--gold-coin);
    padding: 30px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: #2c3e50;
}

form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #34495e;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.explanation-box {
    background: #eef0ff;
    padding: 15px;
    border-radius: 8px;
    border-left: 4px solid var(--primary-blue);
    font-size: 0.9em;
    color: #333;
}

.btn-primary {
    background: var(--primary-blue);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background: #eee;
    color: #333;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover,
.btn-secondary:hover {
    background: var(--gold-coin);
}

/* Animação da Moeda */
.coin-animation-area {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#coin {
    width: 80px;
    height: 80px;
    position: relative;
    transform-style: preserve-3d;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    backface-visibility: hidden;
    border: 4px solid #d4af37;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-icon {
    width: 70px;
    height: 70px;
    color: #f2bb15;
    pointer-events: none;
}

.heads {
    background: var(--gold-coin);
    transform: rotateY(0deg);
}

.tails {
    background: #e6b800;
    transform: rotateY(180deg);
}

.flipping {
    animation: flip 1s infinite linear;
}

@keyframes flip {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.main-content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chart-container {
    height: 300px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}